/* ESTILOS VIDEOS */
/* 10 */
.layout__videos {
  grid-area: videos;
  width: 100%;
}

/* 102 */
.videos__container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

/* 103 */
.videos__main-video {
  flex-basis: 65%;
  padding-bottom: 3rem;
}

/* 104 */
.main-video__yt-video {
  width: 100%;
  height: 40rem;
  margin-bottom: 2rem;
}

/* 105 */
.main-video__yt-video iframe {
  width: 100%;
  height: 100%;
}

/* 106 */
.main-video__title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

/* 107 */
.main-video__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-bg-marquee);
}

/* 108 */
.main-video__info__container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* 109 */
.main-video__info__container a {
  display: inline;
}

/* 110 */
.videos__list {
  flex-basis: 35%;
}

/* 111 */
.videos__video {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-bg-marquee);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

/* 112 */
.video__detail {
  flex-basis: 75%;
}

/* 113 */
.video__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* 114 */
.video__link {
  color: var(--color-titles);
  transition: all 30ms ease;
}

/* 115 */
.video__title:hover > .video__link {
  color: var(--color-secondary);
}

/* 116 */
.video__info {
  display: flex;
  gap: 1rem;
}

/* 117 */
.video__image {
  overflow: hidden;
}

/* 118 */
.video__img {
  transition: all 300ms ease;
}

/* 119 */
.video__image:hover .video__img {
  transform: scale(1.1);
}
