/* ESTILOS CARRUSEL */
/* 11 - 120*/
.layout__carousel-games {
  grid-area: carousel;
  width: 100%;
  padding: 3rem;
  margin-bottom: 6rem;
  background-color: var(--color-bg-navbar);
}

/* 121 */
.carousel-games__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

/* 122 */
.carousel-games__item {
  position: relative;
  overflow: hidden;
}

/* 123 */
.carousel-games__img {
  width: 100%;
}

/* 123 */
.carousel-games__rating {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
}

/* 125 */
.carousel-games__info {
  position: absolute;
  top: 40%;
  text-align: center;
  padding: 0 1rem;
  transition: all 300ms;
}

/* 126 */
.carousel-games__category {
  display: block;
  font-weight: 500;
  font-size: 1.1rem;
  text-shadow: 1px 1px 3px var(--color-titles);
  color: var(--color-principal);
  transition: all 300ms ease;
}

/* 127 */
.carousel-games__category:hover {
  color: var(--color-secondary);
}

/* 128 */
.carousel-games__line {
  height: 0.2rem;
  width: 4rem;
  margin: 0.4rem auto;
  background-color: var(--color-secondary);
}

/* 129 */
.carousel-games__title {
  font-size: 1.8rem;
  text-shadow: 1px 1px 3px var(--color-titles);
}

/* 130 */
.carousel-games__link{
  color: var(--color-principal);
  transition: all 300ms ease;
}

/* 131 */
.carousel-games__title:hover .carousel-games__link{
  color: var(--color-secondary);
}
